# A2C Algorithm Configuration
# @package algorithm

name: "A2C"
learning_rate: 7.0e-4
n_steps: 5
gamma: 0.99
gae_lambda: 1.0
ent_coef: 0.0
vf_coef: 0.5
max_grad_norm: 0.5
rms_prop_eps: 1.0e-5
use_rms_prop: true
use_sde: false
sde_sample_freq: -1
normalize_advantage: false
tensorboard_log: null
policy_kwargs: null
verbose: 1
seed: null
device: "auto"
_target_: stable_baselines3.A2C